.app{
    padding-left: 8px;
    padding-top: 12px;
}

.heading{
    margin-left: -4px;
    // display: flex;
    // align-items: center;
}

.content{
    margin-top: 12px;
    padding:  0 24px;
}

.pageable{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: right;
   
}

