.sidebar{
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #CCCCFF;
}

.heading{
    margin-top: 30px;
    h1{
        font-size: 2rem;
        width: 20%;
    }
}

.content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}