.app{
    margin-top: 12px;
    margin-left: 16px;

    .form{
        // margin-top: 0;
    }

    
}

.heading{
    
}

.context{
    margin-top: 24px;
    margin-right: 24px;
    font-size: 18px;

    .table{
        width: 50%;
    }
}