.pageable{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: right;
    span{
        margin: 0 2px;
        font-size: 1.4rem;
        // padding: 2px;
        font-size: 1.2rem;
        border-radius: 4px;
        cursor: pointer;
        background-color:#d64020 ;
        opacity: 0.8;
        &:hover{
            background-color: #d64020;
            opacity: 1;
            color: #fff;
        }
}
   
}



.leftPageIcon,.rightPageIcon{
    box-shadow: 0 0 2px rgba(0, 0, 0,0.5);
    padding: 6px 6px;
    font-size: 1.2rem;
    margin: 0 4px;
    cursor: pointer;
    &:hover{
        background-color: #d64020;
        opacity: 1;
        color: #fff;
    }
}